Repository woowa-techcamp-2021/deal-17, pull requests merged in 2021-07, with the labels that each got.

#13 [feature/webpack_babel] Webpack & Babel 설정
  Profile.js
  README.md
  babel.config.js
  index.html
  index.js
  package-lock.json
  package.json
  webpack.config.js
Labels: setup

#15 [feature/express_setting] express 초기 세팅, cors 설정 완료
  index.js
  package-lock.json
  package.json
  server.js
Labels: setup

#17 [feature/prettier] .prettierrc 추가
  .prettierrc
Labels: setup

#18 [feature/mysql2] mysql2 연동 작업 완료
  db.js
  package-lock.json
  package.json
  server.js
Labels: setup

#20 [feature/mysql2] : bcrypt, dotenv, mocha, should 라이브러리 설치
  package-lock.json
  package.json
Labels: setup

#21 [feature/source_map] : source map 설치 및 설정, env.mode 설정
  index.html
  index.js
  package-lock.json
  server.js
  webpack.config.js
Labels: setup

#22 [feature/erd] : Database ERD 추가
  createTable.sql
Labels: backend

#26 [feature/typescript] : require -> import 문 변경
  package-lock.json
  package.json
  server.ts
Labels: setup

#27 [feature/dotenv-default] dotenv defaults 적용 및 webpack config resolve 추가
  .env.defaults
  package-lock.json
  package.json
  server.ts
  webpack.config.js
Labels: setup

#28 [feature/architecture] 폴더 구조 추가
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/users/user.controller.ts
  backend/users/user.service.ts
  frontend/components/.keep
  frontend/core/.keep
  frontend/page/.keep
  frontend/types/.keep
Labels: setup

#30 [feature/database] Created_At 컬럼 추가
  createTable.sql
Labels: setup

#33 [feature/common_css] common.css, reset.css, image icon 추가
  babel.config.js
  frontend/.DS_Store
  frontend/static/.DS_Store
  frontend/static/images/.DS_Store
  frontend/static/images/icons/add.png
  frontend/static/images/icons/category.png
  frontend/static/images/icons/check.png
  frontend/static/images/icons/chevron-down.png
  frontend/static/images/icons/chevron-left.png
  frontend/static/images/icons/chevron-right.png
  frontend/static/images/icons/close.png
  frontend/static/images/icons/heart.png
  frontend/static/images/icons/image.png
  frontend/static/images/icons/log-out.png
  frontend/static/images/icons/map-pin.png
  frontend/static/images/icons/menu.png
  frontend/static/images/icons/message-square.png
  frontend/static/images/icons/more-vertical.png
  frontend/static/images/icons/send.png
  frontend/static/images/icons/user.png
  frontend/static/styles/common.css
  frontend/static/styles/reset.css
  frontend/styles/common.css
Labels: frontend

#35 [feature/frontend_empty_file] empty file 생성
  frontend/components/category/category-item.ts
  frontend/components/category/category-list.ts
  frontend/components/chatting-detail/exit-modal.ts
  frontend/components/chatting-detail/message-list.ts
  frontend/components/chatting-detail/product-summary.ts
  frontend/components/chatting-detail/send-form.ts
  frontend/components/common/chatting-item.ts
  frontend/components/common/chatting-list.ts
  frontend/components/common/header-invisible.ts
  frontend/components/common/header-offwhite.ts
  frontend/components/common/header-white.ts
  frontend/components/common/header.ts
  frontend/components/common/menu-select.ts
  frontend/components/common/product-list.ts
  frontend/components/common/product.ts
  frontend/components/common/town-selectbox.ts
  frontend/components/join/id-input.ts
  frontend/components/join/join-button.ts
  frontend/components/join/town-input.ts
  frontend/components/login/id-input.ts
  frontend/components/login/join-button.ts
  frontend/components/login/login-button.ts
  frontend/components/main/fab-button.ts
  frontend/components/menu/menu-bar.ts
  frontend/components/mypage/account.ts
  frontend/components/mypage/logout-button.ts
  frontend/components/product-detail/carousel.ts
  frontend/components/product-detail/content.ts
  frontend/components/product-detail/footer.ts
  frontend/components/product-detail/seller-info.ts
  frontend/components/product-detail/state.ts
  frontend/components/product-detail/title.ts
  frontend/components/town/add.ts
  frontend/components/town/input-modal.ts
  frontend/components/town/text.ts
  frontend/components/write/category-item.ts
  frontend/components/write/category-list.ts
  frontend/components/write/content.ts
  frontend/components/write/image-item.ts
  frontend/components/write/image-list.ts
  frontend/components/write/subject.ts
  frontend/components/write/town.ts
  frontend/page/alert-view.ts
  frontend/page/category-view.ts
  frontend/page/chatting-detail-view.ts
  frontend/page/join-view.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
  frontend/page/menu-view.ts
  frontend/page/my-chatting-list-view.ts
  frontend/page/mypage-view.ts
  frontend/page/product-chatting-list-view.ts
  frontend/page/product-detail-view.ts
  frontend/page/town-view.ts
  frontend/page/write-view.ts
  frontend/styles/common.css
Labels: frontend

#40 [feature/frontend_component] backend, frontend 전체 구조 연동 확인
  Initial Data.sql
  app.ts
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/server.ts
  frontend/components/main/fab-button.ts
  frontend/page/main-view.ts
  package-lock.json
  package.json
Labels: backend, frontend

#42 [feature/api] api.ts 만들고 main-view에 적용
  .env.defaults
  backend/server.ts
  frontend/core/api.ts
  frontend/page/main-view.ts
  webpack.config.js
Labels: frontend

#45 [feature/main_page] 메인페이지 1차 완성
  app.ts
  frontend/components/common/header.ts
  frontend/components/common/product-list.ts
  frontend/components/common/product.ts
  frontend/components/main/fab-button.ts
  frontend/core/store.ts
  frontend/core/view.ts
  frontend/helper/numberHelper.ts
  frontend/page/index.ts
  frontend/page/main-view.ts
  frontend/page/test-another.ts
  frontend/page/test-view.ts
  frontend/static/styles/common.css
  frontend/static/styles/index.css
  index.html
Labels: frontend

#44 [feature/login] page markup 및 css 구현
  app.ts
  frontend/components/login/id-input.ts
  frontend/components/login/input-form.ts
  frontend/components/login/join-button.ts
  frontend/components/login/login-button.ts
  frontend/components/login/login-header.ts
  frontend/core/view.ts
  frontend/page/login-view.ts
  frontend/static/styles/common.css
  frontend/static/styles/reset.css
Labels: frontend

#47 [fix/path_conflict] 경로 문제 해결
  app.ts
  frontend/components/common/product-list.ts
  frontend/components/login/id-input.ts
  frontend/components/login/input-form.ts
  frontend/components/login/join-button.ts
  frontend/components/login/login-button.ts
  frontend/core/view.ts
  frontend/page/index.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
Labels: bug

#49 [feature/ready_deploy] 배포 전 경로 문제 해결
  backend/server.ts
  frontend/components/common/header.ts
  frontend/components/common/product.ts
  frontend/components/login/login-header.ts
  frontend/static/styles/common.css
  index.html
Labels: backend

#53 [feature/db_env] 파일에 db 정보 json 형식으로 작성, db.ts 수정
  .env.defaults
  backend/db.ts
  backend/server.ts
Labels: backend

#54 Docs : README.md 수정
  README.md
Labels: documentation

#71 [feature/animate] animation View 기능 개발
  app.ts
  frontend/components/common/header.ts
  frontend/components/login/id-input.ts
  frontend/components/login/input-form.ts
  frontend/components/login/join-button.ts
  frontend/components/login/login-button.ts
  frontend/components/login/login-header.ts
  frontend/core/router.ts
  frontend/core/view.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
  index.html
  static/styles/animation.css
  static/styles/index.css
Labels: frontend

#72 [feature/router_link] Router-Link Custom Element 생성
  app.ts
  frontend/core/router.ts
  frontend/helper/router-link/router-link.css
  frontend/helper/router-link/router-link.ts
Labels: frontend

#80 [feature/router] router 기능 개선
  app.ts
  frontend/components/common/product-list.ts
  frontend/core/router.ts
  frontend/core/view.ts
  frontend/page/product-detail-view.ts
  static/styles/animation.css
Labels: frontend

#83 [fix/animate] 슬라이드 페이지에서 화면 밖으로 넘어가는 문제 해결
  static/styles/index.css
Labels: frontend

#84 [feature/font_icon] web font 추가, 적용 완료
  frontend/components/common/header.ts
  frontend/components/common/product.ts
  frontend/components/login/login-header.ts
  index.html
  static/icon/fonts/woowa-market-icons.woff
  static/icon/fonts/woowa-market-icons.woff2
  static/icon/index.html
  static/icon/woowa-market-icons.css
  static/icon/woowa-market-icons.json
  static/styles/common.css
  static/styles/index.css
Labels: frontend

#86 [feature/mypage] 내 계정 페이지 markup
  app.ts
  frontend/components/login/login-button.ts
  frontend/components/login/login-header.ts
  frontend/core/router.ts
  frontend/core/view.ts
  frontend/page/index.ts
  frontend/page/join-view.ts
  frontend/page/login-view.ts
  frontend/page/mypage-view.ts
  static/styles/common.css
Labels: frontend

#94 Feature/write view
  app.ts
  frontend/components/main/fab-button.ts
  frontend/core/view.ts
  frontend/page/index.ts
  frontend/page/write-view.ts
  frontend/page/write-view/write-view.css
  frontend/page/write-view/write-view.ts
  static/styles/common.css
Labels: frontend

#98 [feature/category] category 페이지 마크업
  app.ts
  frontend/components/common/header.ts
  frontend/page/category-view.ts
  frontend/page/category-view/category-view.css
  frontend/page/category-view/category-view.ts
  frontend/page/index.ts
  frontend/page/write-view/write-view.ts
  static/styles/animation.css
Labels: frontend

#101 [feature/town] 내 동네 설정 Markup
  app.ts
  frontend/components/common/header.ts
  frontend/page/index.ts
  frontend/page/town-view.ts
  frontend/page/town-view/town-view.ts
  static/styles/common.css
Labels: frontend

#105 [feature/component] Category-item component 작성
  app.ts
  frontend/components/category/category-item.component.ts
  frontend/page/category-view/category-view.ts
Labels: frontend

#108 [feature/town] 내 동네 버튼 커스텀 엘리먼트 작성
  app.ts
  frontend/components/town/town-view.custom.ts
  frontend/page/town-view/town-view.css
  frontend/page/town-view/town-view.custom.ts
  frontend/page/town-view/town-view.ts
  static/styles/common.css
Labels: frontend

#106 [feature/menu_markup] 마크업 완료
  app.ts
  backend/products/product.controller.ts
  frontend/components/common/header-offwhite.ts
  frontend/components/menu/menu-bar.ts
  frontend/page/index.ts
  frontend/page/menu-view.ts
  frontend/page/menu-view/menu-view.css
  frontend/page/menu-view/menu-view.ts
  static/styles/common.css
Labels: frontend

#109 [feature/chatlist_markup] 마크업
  app.ts
  backend/chat-rooms/chat-room.controller.ts
  backend/chat-rooms/chat-room.service.ts
  frontend/components/common/chatting-item.ts
  frontend/components/common/chatting-list.ts
  frontend/components/common/header-white.ts
  frontend/page/chatting-list-view/chatting-list-view.css
  frontend/page/chatting-list-view/chatting-list-view.ts
  frontend/page/index.ts
  static/styles/common.css
  types/index.ts
Labels: frontend

#110 [feature/popup] popup 기능 구현
  frontend/page/town-view/town-view.ts
  frontend/popup-view/popup-component.css
  frontend/popup-view/popup-component.ts
  static/styles/common.css
Labels: frontend

#111 [feature/chat_detail_markup] 완료
  app.ts
  frontend/components/chatting-detail/exit-modal.ts
  frontend/components/chatting-detail/message-list.ts
  frontend/components/chatting-detail/product-summary.ts
  frontend/components/chatting-detail/send-form.ts
  frontend/page/chatting-detail-view.ts
  frontend/page/chatting-detail-view/chatting-detail-view.css
  frontend/page/chatting-detail-view/chatting-detail-view.ts
  frontend/page/chatting-list-view/chatting-list-view.ts
  frontend/page/index.ts
  static/styles/common.css
Labels: frontend

#114 [feautre/join] 회원가입 backend api 및 프론트엔드 연동
  backend/town/town.service.ts
  backend/user-town/user-town.service.ts
  backend/users/user.controller.ts
  backend/users/user.service.ts
  frontend/components/login/id-input.ts
  frontend/components/login/login-button.ts
  frontend/core/api.ts
  frontend/page/join-view.ts
  frontend/page/mypage-view.ts
  types/index.ts
Labels: backend, frontend

#116 [feature/join] 회원 가입 완료 후 이전페이지로 이동
  app.ts
  frontend/core/api.ts
  frontend/page/join-view.ts
Labels: frontend

#117 [feature/ux] 전체 ux router 체크
  app.ts
  backend/products/product.controller.ts
  frontend/components/common/chatting-list.ts
  frontend/components/common/header.ts
  frontend/components/product-detail/footer.ts
  frontend/components/product-detail/header-invisible.ts
  frontend/core/router.ts
  frontend/page/chatting-detail-view/chatting-detail-view.ts
  frontend/page/chatting-list-view/chatting-list-view.ts
Labels: frontend

#118 [feature/login] user 로그인 기능
  app.ts
  backend/users/user.controller.ts
  backend/users/user.service.ts
  frontend/core/api.ts
  frontend/core/router.ts
  frontend/page/login-view.ts
Labels: backend, frontend

#119 [feature/mypage] 로그인 시 메인페이지에서 회원정보 페이지로 이동
  app.ts
  backend/users/user.service.ts
  frontend/components/category/category-item.component.ts
  frontend/components/common/header.ts
  frontend/components/join/join-input-form.ts
  frontend/components/login/input-form.ts
  frontend/components/product-detail/header-invisible.ts
  frontend/core/observer.ts
  frontend/core/store.ts
  frontend/core/view.ts
  frontend/page/chatting-detail-view/chatting-detail-view.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
  frontend/page/mypage-view.ts
Labels: frontend

#127 [feature/observer] notifyObserver 메소드를 Store의 setter에서 실행
  frontend/core/observer.ts
  frontend/core/store.ts
  frontend/page/login-view.ts
Labels: frontend

#128 [feature/product_join] main page db aggregation
  backend/chat-rooms/chat-room.service.ts
  backend/products/product.controller.ts
  backend/products/product.service.ts
  types/index.ts
Labels: backend

#130 [feature/product_detail] backend api, db query 작성, front 데이터 렌더링
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/user-town/user-town.service.ts
  frontend/components/common/product.ts
  frontend/components/product-detail/content.ts
  frontend/core/api.ts
  frontend/page/chatting-list-view/chatting-list-view.ts
  frontend/page/main-view.ts
  frontend/page/product-detail-view/product-detail-view.ts
  types/index.ts
Labels: backend, frontend

#131 [feature/write] 글쓰기 페이지 기능 구현 및 S3 설정
  backend/pictures/picture.service.ts
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/server.ts
  backend/uploader.ts
  frontend/components/category/category-item.component.ts
  frontend/core/api.ts
  frontend/page/category-view/category-view.ts
  frontend/page/write-view/write-view.css
  frontend/page/write-view/write-view.ts
  package-lock.json
  package.json
  static/styles/common.css
  types/index.ts
Labels: backend, frontend

#132 [feature/session] session 기능 추가!
  app.ts
  backend/server.ts
  backend/users/user.controller.ts
  frontend/core/api.ts
  package-lock.json
  package.json
Labels: backend, frontend

#133 [feature/session] 세션에서 가져와서 store.notification 까지 동작되도록 수정, error catch
  app.ts
  frontend/core/api.ts
Labels: frontend

#134 [feature/login_session] 새로고침 반복 시, 세션 상태에 따라 렌더링 제대로 안되는 문제 해결
  app.ts
  frontend/components/common/header.ts
Labels: frontend

#135 [feature/product_more] select popup, state 기능
  backend/products/product.controller.ts
  backend/server.ts
  backend/users/user.controller.ts
  frontend/components/product-detail/carousel.ts
  frontend/components/product-detail/header-invisible.ts
  frontend/components/product-detail/state.ts
  frontend/core/api.ts
  frontend/page/product-detail-view/product-detail-view.ts
  package-lock.json
  package.json
  webpack.config.js
Labels: frontend

#137 [feature/town] 내 동네 설정 백엔드, 프론트엔드 가져오기 연동
  backend/server.ts
  backend/town/town.controller.ts
  frontend/core/api.ts
  frontend/page/town-view/town-view.ts
  types/index.ts
Labels: backend, frontend

#138 [hotfix/session] 세션 버그 수정
  backend/server.ts
  frontend/core/api.ts
Labels: bug

#139 [feature/town] 내 동네 설정 및 삭제 기능 구현
  .gitignore
  backend/town/town.controller.ts
  backend/town/town.service.ts
  backend/user-town/user-town.service.ts
  frontend/core/api.ts
  frontend/core/store.ts
  frontend/page/town-view/town-view.ts
  frontend/popup-view/popup-component.ts
  package.json
  types/index.ts
Labels: backend, frontend

#141 [feature/category] 카테고리 클릭 후 상태 변화 기능 추가
  backend/sql/createTable.sql
  frontend/components/category/category-item.component.ts
  frontend/core/store.ts
  frontend/page/category-view/category-view.ts
  frontend/page/main-view.ts
  types/index.ts
Labels: frontend

#147 [feature/write] 글쓰기 페이지 이미지 리스트 컴포넌트 리팩토링
  frontend/components/write/image-item.ts
  frontend/core/view.ts
  frontend/page/write-view/write-view.ts
Labels: frontend

#148 [feature/product_wish] wish기능과 store 로직, wish sql 파일 수정
  app.ts
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/sql/createTable.sql
  frontend/components/common/product-list.ts
  frontend/components/common/product.ts
  frontend/components/product-detail/footer.ts
  frontend/components/product-detail/header-invisible.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
  frontend/page/product-detail-view/product-detail-view.ts
Labels: backend, frontend

#149 [feature/write] 카테고리 아이템 컴포넌트 리팩토링
  app.ts
  frontend/components/write/category-item.ts
  frontend/page/write-view/write-view.ts
Labels: frontend

#150 [bug] 로그아웃 및 메뉴 판매목록 안나오는 버그 수정
  frontend/page/mypage-view.ts
Labels: bug

#151 [feature/menu] 메뉴별 컴포넌트 분기 처리
  app.ts
  frontend/components/common/product-list.ts
  frontend/components/common/product.ts
  frontend/core/router.ts
  frontend/page/main-view.ts
  frontend/page/menu-view/menu-view.css
  frontend/page/menu-view/menu-view.ts
  static/styles/index.css
Labels: frontend

#152 [feature/product_popup] product list popup 버그 수정
  frontend/components/common/product-list.ts
  frontend/components/common/product.ts
  frontend/components/product-detail/header-invisible.ts
  static/styles/index.css
Labels: frontend

#153 [feature/modify] 수정하기 기능 개발
  app.ts
  backend/products/product.controller.ts
  backend/products/product.service.ts
  backend/server.ts
  frontend/components/common/select-popup.ts
  frontend/components/product-detail/header-invisible.ts
  frontend/components/write/category-item.ts
  frontend/core/api.ts
  frontend/helper/getFileObjectFromURL.ts
  frontend/page/index.ts
  frontend/page/modify-view/modify-view.ts
  frontend/page/product-detail-view/product-detail-view.ts
  frontend/page/write-view/write-view.css
Labels: backend, frontend

#154 [feature/z_index] 전체 z-index 조정
  frontend/components/common/product.ts
  frontend/page/category-view/category-view.ts
  frontend/page/chatting-detail-view/chatting-detail-view.ts
  frontend/page/chatting-list-view/chatting-list-view.ts
  frontend/page/join-view.ts
  frontend/page/login-view.ts
  frontend/page/main-view.ts
  frontend/page/menu-view/menu-view.ts
  frontend/page/mypage-view.ts
  frontend/page/town-view/town-view.ts
  frontend/page/write-view/write-view.ts
  frontend/popup-view/popup-component.ts
  index.html
  static/styles/animation.css
  static/styles/z-index.css
Labels: frontend

#155 [feature/town] 내 동네 삭제 기능 연동
  backend/town/town.controller.ts
  backend/user-town/user-town.service.ts
  backend/users/user.controller.ts
  frontend/core/api.ts
  frontend/core/store.ts
  frontend/page/town-view/town-view.ts
  frontend/popup-view/popup-component.ts
Labels: backend, frontend
